<service>
  <id>Jenkins</id>
  <name>Jenkins</name>
  <description>This service runs Jenkins automation server.</description>
  <env name="JENKINS_HOME" value="%BASE%"/>

  <executable>%BASE%\jre\bin\java</executable>
  <arguments>-Xrs -Xmx{{MaxHeapSize|default('256m')}} -Dhudson.lifecycle=hudson.lifecycle.WindowsServiceLifecycle -jar "%BASE%\jenkins.war" --httpPort={{httpPort}} -Djenkins.install.runSetupWizard=false --webroot="%BASE%\war"</arguments>

  <logmode>rotate</logmode>

  <onfailure action="restart" />
  

  <extensions>
    <extension enabled="true" 
              className="winsw.Plugins.RunawayProcessKiller.RunawayProcessKillerExtension"
              id="killOnStartup">
      <pidfile>%BASE%\jenkins.pid</pidfile>
      <stopTimeout>10000</stopTimeout>
      <stopParentFirst>false</stopParentFirst>
    </extension>
  </extensions>
  
  
</service>
